<!--
@Author: Nicolas Fazio <webmaster-fazio>
@Date:   05-02-2017
@Email:  contact@nicolasfazio.ch
@Last modified by:   webmaster-fazio
@Last modified time: 16-02-2017
-->

<ion-content id="ezarpage" padding>
  <div #azView id="arView" class="a250" style="background-color: transparent">
      <div>
        <ion-badge *ngIf="userDirection">{{ userDirection }}</ion-badge>
        <ion-badge *ngIf="!userDirection">...</ion-badge>
      </div>
      <br>
      <div class="spotsList">
        <div *ngFor="let spot of spots" [style.transform]="'translateX('+ spot.move +'px)'">
          <ion-badge>
           {{ spot.pin.name }} - {{ spot.away.miles.toFixed(2) }} - {{ spot.away.meter.toFixed(5) }}

          </ion-badge>
        </div>
      </div>
  </div>
  <div #topView id="topView" class="a250 fadeOut" style="background-color: white">
      <div class="listView">
          <div class="listItems"></div>
      </div>
      <div class="mapView">
          <div #map class="gMap"></div>
      </div>
  </div>

  <div id="debug">
      <div class="heading">Geolocation</div>
      <div id="geolocation"></div>
      <div class="heading">Compass</div>
      <div id="compass"></div>
      <div class="heading">Accelerometer</div>
      <div *ngIf="acceleration" id="accelerometer">
        Acceleration X: {{acceleration.x}} <br />
        Acceleration Y: {{acceleration.y}}<br />
        'Acceleration Z:  {{acceleration.z}}
      </div>
      <div class="heading">Log</div>
      <div id="log"></div>
  </div>

</ion-content>
